    /* 풋터 */
    footer{
        height: 130px;
        width: 100%;
    }

    .footer_flexbox{
        display: flex;
        justify-content: space-between;
    } 

    .footer_logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_txt{
        width: 70%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .footer_txt>div{
        width: 100%;
    }
    
    .footer_sns{
        padding-top: 50px;
        font-size: 2em;
    }

    .footer_sns>a>i{
        margin-left: 15px;
      
    }
    @media screen and (max-width:1200px) and (min-width:760px) {
        .footer_logo{
            width: 20%;
        }
        
        
        .footer_logo{
            width: 10%;
        }    
        .footer_txt{
            width: 70%;
            display: flex;
            flex-direction: column;
        }


        .footer_txt>div{
            width: 100%;
            height: 100%;
           
        }

    }

    @media screen and (max-width:760px) and (min-width:360px){
        .footer_flexbox{
            width: 100%;
            max-width: 760px;
            display: block;
            position: relative;
        } 

        .footer_logo{
            position: absolute;
            margin-top: 20px;
        }

        .footer_txt{
            margin-top: 25px;
            max-width: 100%;
            position: absolute;
            left: 100px;
            font-size: 0.8em;
;
        }
        
        .footer_sns{
            display: none;
        }

        
    
    }


    .cursor{
        position:absolute; 
        top:0; 
        left: 0; 
        z-index: 9999; 
        width: 50px; 
        height: 50px; 
        transform:translate(-50%, -50%); 
    }

    .shortcut{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 3px solid #000;
        text-align: center;
        line-height: 60px;
        position:fixed;
        right: 3%;
        bottom: 3%;
        background-color: white;
        display: none;
        color: black;
        cursor: pointer;
        z-index: 9999999;
    }


    @media screen and (max-width:760px) and (min-width:360px){
    
    .footer{
        height: 50px;
    }


    .footer_flexbox{
        width: 100%;
        height: 100px;
        max-width: 760px;
        display: block;
        position: relative;
    } 

    .footer_logo{
        position: absolute;
        padding-top: 30px;
    }

    .footer_txt{
        max-width: 600px;
        position: absolute;
        left: 100px;
        font-size: 0.8em;
    }
    
    .footer_sns{
        display: none;
    }

}