
        /* 메인비주얼 */
        .slider {
            height: 740px;
            overflow: hidden;
        }

        .slider>li {
            height: 740px;
            background: url(../image/visual1.jpg) no-repeat 50% 0;
        }

        /* 섹션스타일 */
        section {
            padding: 130px 0;
            text-align: center;
        }

        section h2 {
            margin-bottom: 1.5rem;
        }

        section .subtxt {
            margin-bottom: 5rem;
        }

        .news .subtxt {
            color: #fff;
        }

        /*각 섹션 클래스명으로 배경 색상이 나 이미지 넣어주세요.*/

        .medical {
            background-color: #f7f7f7;
        }

        .news {
            background: #000 url(../mage/news_bg.jpg) no-repeat 50% 0;
        }

 

        /*.special 스타일*/
        .specialmenu {
            width: 100%;
        }

        /* 가로세로 비율을 유지하는 반응형 박스를 만드는법!! width를 부모 크기 기준으로 % 값을 주고 
        height 은 0 padding 을 width 비율만큼 줘서 적용!!
        스크립트를 사용하지 않고 스타일로 처리하는 유일한 방법입니다. 알아둡시다. */
        .specialmenu>li {
            float: left;
            width: 22.473%;
            height: 0;
            padding: 11.2365% 0;
            margin-right: 3.225%;
            margin-bottom: 3.225%;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-out;
        }

        .specialmenu>li:nth-child(4),
        .specialmenu>li:last-child {
            margin-right: 0;
        }

        .specialmenu>li:hover {
            border: 1px solid #b14d50;
        }

        .specialmenu>li:hover .txt {
            color: #b14d50;
        }

        .txt {
            display: block;
            font-size: 1.2rem;
            line-height: 1.5rem;
            padding-top: 0.75rem;
            transition: all 0.3s ease-out;
        }

        .pcoff{
            display: none ;
        }

        @media screen and (max-width:960px) {
            

            .special .col8,
            .special .col4 {
                width: 97.916%;
            }

            .medical .col4 {
                width: 47.916%;
            }

            section {
                padding: 40px 0;
            }

            .news {
                /*높이값이 px 의 고정값으로 적용된 경우 
                컨텐츠 양에 따라 적용되게 하려면 auto 값을 전달해 주세요*/
                height: auto;
            }
            
          

            /* section 컨텐츠 영역 */
            section h2{
                padding: 0 1rem;
            }

            .subtxt{
                padding: 0 1rem;
            }

            .specialmenu>li{
                width: 30.3%;
                margin-right: 0;
                margin-left: 1.5%;
                margin-right: 1.5% !important;
                padding: 15% 0;
            }
            
            .specialmenu>li img{
                height: 40px;
                width: auto;
            }

            .txt{
                font-size: 0.8rem;
            }

            .rolling>li>img{
                margin: 0 auto;
            }

            .medical ul>li{
                margin-bottom: 2% !important;
            }


        }
