*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('https://plus.unsplash.com/premium_photo-1663126491273-6275b0266bb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1858&q=80');
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap : wrap;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;

}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
} 